.fondo-administracion{
    background-image:url(https://oscardespliegue.000webhostapp.com/fotosf1/assets/fotos/circuito_noche.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
#lanzar-carrera {
    margin: 15% auto;

    min-width: max(300px, 45vw);
    padding-block: max(2rem, 2vw);

    height: auto;
    font-size: min(4rem, 4vw);

    &:disabled {
        color: $color-black;
        background-color: slategrey;
        opacity: 80%;
        border: none;
    }

    &:disabled:hover {
        color: $color-black;
        background-color: slategrey;
        opacity: 80%;
        border: none;
    }
}