@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");

$font-body: "Titillium Web", sans-serif;

$color-black: #0c0c18;
$color-off-white: #f8f4f0;
$color-red: #ff1800;
$color-white: #fff;
