@import "constantes";

@import "normalize";
@import "skeleton";

@import "botones";
@import "administracion";
@import "clasificacion";
@import "home";
@import "index";
@import "perfil";
@import "pilotos";
@import "registro";
@import "tus-pilotos";
@import "menu";

body {
    font-family: $font-body;
    background-color: $color-off-white;
}

main {
    display: flex;
    flex-direction: column;

    align-items: center;
}

img {
    min-width: 100%;
}

.formulario {
    width: 350px;
    display: grid;
    grid-template-columns: auto auto;
}
