@import "constantes";

@import "normalize";
@import "skeleton";

@import "botones";
@import "administracion";
@import "clasificacion";
@import "home";
@import "index";
@import "perfil";
@import "pilotos";
@import "registro";
@import "tus-pilotos";
@import "menu";

// html {
//     background-color: $color-off-white;
//     background-image: url(../assets/img/fondo.jpg);
//     object-fit: contain;
//     background-position: center;
//     background-repeat: no-repeat;
// }

body {
    font-family: $font-body;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    min-width: 100%;
}
